* {
  margin: 0px;
  padding: 0px;
}

/* Hero section css */
.heroSectionMain {
  background-image: url("/heroBg.png"); /* Set the image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;
}
.heroImage{
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
.brandLogo{
  height: 150px;
}
/* Hero section start */
/* about section css */
.aboutSectionMain {
  background-image: url("/aboutBg.png"); /* Set the image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;
}
.cardImage{
  /* border-radius: 50%; */
  /* height: 400px; */
  /* width: 400px; */
}
.brandLogo{
  height: 150px;
}
.aboutSectionMain h1{
  color: white;
  font-size: 50px;
  font-weight: 800;
  font-family: Poppins;
}
.aboutSectionMain p{
  color: white;
  font-size: 25px;
  font-family: Poppins;
}
/* Hero section start */

.bookingSectionMain {
  background-image: url("/bookingBg.png"); /* Set the image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100%;
}

.aboutSectionMain h1{
  color: white;
  font-size: 50px;
  font-weight: 800;
}
.aboutSectionMain p{
  color: white;
  font-size: 25px;
}
.bookingSectionMain  h1{
  color: white;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0px;
  font-family: Poppins;
  
}
.bookingSectionMain label{
  color: gray;
  margin-bottom: 6px;
  margin-top: 15px;
  font-family: Poppins;
}
.submitBtn{
  width: 100%;
  background-color: #139F01;
  padding: 8px 0px;
  font-family: Poppins;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.purpleBtn{
  width: 100px;
  background-color: #4C2F71;
  padding: 8px 0px;
  font-family: Poppins;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.whiteBtn{
  width: 100px;
  background-color: #fff;
  padding: 8px 0px;
  font-family: Poppins;
  color: black;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

@media screen and (max-width:425px){
  
  .heroImage{
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  .brandLogo{
    height: 130px;
  }
  .aboutSectionMain {
    
    height: 100%;
  }
  .bookingSectionMain {
    
    height: 100%;
  }
  .aboutSectionMain p{
   
    font-size: 20px;
    text-align: justify;
  }
  .bookingSectionMain  h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
  }
  .submitBtn{
    width: 100%;
   
  }
  .purpleBtn{
    width: 30%;
    background-color: #4C2F71;
    padding: 8px 0px;
    font-family: Poppins;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border: none;
  }
  .whiteBtn{
    width: 30%;
    background-color: #fff;
    padding: 8px 0px;
    font-family: Poppins;
    color: black;
    font-size: 20px;
    border-radius: 4px;
    border: none;
  }
  
}